.tableCard {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 2rem;
  max-width: calc(100% - 250px);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
  position: relative;
  &::-webkit-scrollbar {
    width: auto;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}
.modalButton {
  border: none;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background-color: #65c4b3;
  font-weight: 500;
  color: #fff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    background-color: #fff;
    color: #65c4b3;
    border: 1px solid #65c4b3;
  }
}
