$bg-blue: #e3f2fd;
$purple: #673ab7;
$dark-purple: #6036a7;
$gray: #fafafa;
$dark-gray: #a7a7a7;
$blue: #2196f3;

.container {
  background-color: $bg-blue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 2px 4px 7px 0px rgba(148, 148, 148, 0.2);
  width: 400px;
  > form {
    > h1 {
      color: $purple;
      text-align: center;
    }
    > p {
      text-align: center;
      color: #9e9eab;
      > a {
        text-decoration: none;
        color: $purple;
      }
    }
    > .credentials {
      margin-bottom: 2rem;
    }
    > button[type="submit"] {
      outline: none;
      border: none;
      text-align: center;
      width: 100%;
      background-color: $purple;
      padding: 0.8rem;
      color: #fff;
      border-radius: 7px;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: $dark-purple;
      }
    }
    > div {
      width: auto;

      > input {
        display: block;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .login {
    padding: 2.3rem;
    width: 380px;
    > form {
      > h1 {
        margin: 0;
        font-size: 1.8rem;
      }
      > p {
        font-size: 0.9rem;
      }
      .credentials {
        margin: 0.5rem 0 1.2rem 0;
      }
      > button[type="submit"] {
        padding: 0.6rem;
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .login {
    padding: 2rem;
    width: 300px;
    border-radius: 15px;
  }
}
